name: livestream_2
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  zego_uikit: ^2.28.38
  zego_uikit_prebuilt_live_streaming: ^3.15.4
  cached_network_image: ^3.4.1
  zego_uikit_signaling_plugin: ^2.8.20
  dio: ^5.9.0
  flutter_inappwebview: ^6.1.5

dependency_overrides:
  zego_express_engine: 3.22.0  # Try version just before 3.23.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true